/* General */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background: #ebe6e0;
}

.body { /* ??? Separated works */
    margin-left: 30px;
    flex: 1;
}

.body ul, dl, dt, dd, a {
    margin-left: 40px;
    color: #2f4f4f;
}

body .name {
    color: #dcd0c0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #2f4f4f;
    padding: 10px;
    color: #dcd0c0;
}

footer {
    margin-top: auto;
    background-color: #2f4f4f;
    color: #dcd0c0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .special { /* Fix shorter pages */
    position: fixed;
}

footer a, nav a {
    color: #dcd0c0;
}

footer a:hover, nav a:hover {
    color: #a5b79e;
}

footer p {
    color: #dcd0c0;
}

.splash {
    text-align: center;
    background: linear-gradient(to bottom right, #dcd0c0, #7d9070);
    padding: 20px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #2f4f4f;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

img {
    border-radius: 50%;
    border: 2px solid #7d9070;
    transition: transform 0.2s ease-in-out;
}

.projects img:hover {
    transform: scale(1.1);
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #2f4f4f;
}

ul {
    margin: 10px 0;
}

ul, dl {
    list-style: none;
    padding: 0;
}

ul li {
    padding-left: 20px;
    color: #2f4f4f;
}

a {
    color: #7d9070;
}

a:hover {
    text-decoration: underline;
    color: #a5b79e;
}

.centerTitle {
    display: flex;
    justify-content: center;
}

/* Intro */

.intro {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to bottom right, #f5f5f5, #dcd0c0);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.introPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #7d9070;
}

.introCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.introCard h1 {
    font-size: 32px;
    color: #2f4f4f;
    margin-bottom: 10px;
}

.introCard p {
    font-size: 16px;
    color: #2f4f4f;
    line-height: 24px;
}

/* Skills */

.skills dl {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 0;
}

.skills dt {
    font-weight: bold;
}

/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    background: linear-gradient(to bottom right, #f5f5f5, #7d9070);
}

.card {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 400px;
    max-width: 400px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid #7d9070;
}

.card h3 {
    font-size: 24px;
    color: #2f4f4f;
    margin-bottom: 10px;
}

.card ul {
    font-size: 16px;
    color: #2f4f4f;
    line-height: 20px;
}

/* Contact */

.formSection {
    padding: 20px;
}

.contactBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    font-size: 16px;
    color: #2f4f4f;
    font-weight: bold;
    text-align: left;
}

.form input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #7d9070;
    border-radius: 5px;
    background: #f5f5f5;
    color: #2f4f4f;
    width: 100%;
    box-sizing: border-box;
}

.form textarea {
    resize: vertical;
}

.form button {
    background: #7d9070;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}

.form button:hover {
    background: #a5b79e;
    text-decoration: underline;
}

/* Grouped styles */

.projects, .intro {
    background: linear-gradient(to bottom right, #f5f5f5, #dcd0c0);
}
